@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
:root{
    font-size: 16px;
}
header{
    background-color: rgba(4, 66, 14, 1);
    display: flex;
    width: 100%;
    padding: 0.6rem;
    align-items: center;
}

header ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}

header a{
    text-decoration: none;
    color: rgba(234, 200, 93, 1);
}

header li img{
    width: 2.7rem;
    height: 2.7rem;
}

header li{
    border: 2px solid rgba(212, 175, 55, 0.9);
    border-radius: 10px;
    padding: 0.3rem;
    font-family: 'Alegreya SC';
}

.logo img{
    width: 8.5rem;
    height: 7.3rem;
}

nav{
    margin-left: 2rem;
    display: flex;
    font-size: 2rem;
    width: 100%;
}

header li a div{
    display: flex;
    align-items: center;
}

.escolha{
    color: white;
}

main{
    flex: 1;
}

.introducao{
    background-color: rgba(157, 0, 0, 1);
    width: 100%;
    height: 17.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introducao h1{
    font-family: 'Alegreya SC', medium;
    font-size: 7rem;
}

.introducao p{
    font-family: 'Inter';
    font-size: 2rem;
}

.alinha-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triforce_asas{
    z-index: 1;
    position: absolute;
    object-fit: contain;
    width: 10rem;
    margin-top: 1rem;
}

.linha{
    background-color: rgba(255, 205, 0, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 5px;
}

.personagens{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
    border: 4px solid rgba(255, 205, 0, 1);
    border-radius: 15px;
    padding-top: 1.5rem;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 4rem;

}

.card-personagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 97%;
    border-radius: 10px;
    padding: 2.5rem;
    font-family: 'Inter';
    color: #e8f5ec;
    flex-wrap: wrap-reverse;
}

.card-imagem{
    width: 25rem;
    display: flex;
    justify-content: center;
}

.card-imagem img{
    height: 30rem;
    object-fit: contain;
}

.card-texto{
    width: 32rem;
    display: flex;
    flex-direction: column;
}

.subtitulo{
    font-size: 0.8rem;
}

.titulo{
    font-size: 5rem;
    font-family: 'Alegreya SC';
}

.descricao {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.tags {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.tag {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    font-family: 'Alegreya SC';
}

.verde{
    background-color: rgba(26, 71, 42, 1);
}

.verde-titulo{
    color: rgba(76, 175, 80, 1);
}

.verde-borda{
    border: 1px solid rgba(76, 175, 80, 1);
    border-radius: 5px;
}

.rosa{
    background-color: rgba(171, 144, 212, 1);
}

.rosa-titulo{
    color: rgba(189, 82, 219, 1);
}

.rosa-borda{
    border: 1px solid rgba(189, 82, 219, 1);
    border-radius: 5px;
}

.vermelho{
    background-color: rgba(118, 23, 23, 1);
}

.vermelho-titulo{
    color: rgba(212, 122, 30, 1);
}

.vermelho-borda{
    border: 1px solid rgba(212, 122, 30, 1);
    border-radius: 5px;
}

.azul{
    background-color: rgba(42, 118, 177, 1);
}

.azul-titulo{
    color: rgba(40, 219, 255, 1);
}

.azul-borda{
    border: 1px solid rgba(40, 219, 255, 1);
    border-radius: 5px;
}

.verde-claro{
    background-color: rgba(46, 139, 87, 1);
}

.verde-claro-titulo{
    color: rgba(168, 230, 161, 1);
}

.verde-claro-borda{
    border: 1px solid rgba(168, 230, 161, 1);
    border-radius: 5px;
}

.laranja{
    background-color: rgba(162, 59, 0, 1);
}

.laranja-titulo{
    color: rgba(255, 209, 102, 1);
}

.laranja-borda{
    border: 1px solid rgba(255, 209, 102, 1);
    border-radius: 5px;
}

.azul-claro{
    background-color: rgba(0, 153, 204, 1);
}

.azul-claro-titulo{
    color: rgba(0, 230, 230, 1);
}

.azul-claro-borda{
    border: 1px solid rgba(0, 230, 230, 1);
    border-radius: 5px;
}

.roxo{
    background-color: rgba(60, 58, 80, 1);
}

.roxo-titulo{
    color: rgba(177, 156, 217, 1);
}

.roxo-borda{
    border: 1px solid rgba(177, 156, 217, 1);
    border-radius: 5px;
}

.container-triforce{
    width: 100%;
    background-color: rgba(221, 169, 25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.triforce-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 0.4rem;
    margin-bottom: 3rem;
}

.triforce-geral img{
    width: 18rem;
    object-fit: contain;
}

.triforce-geral span{
    font-family: 'Alegreya SC';
    font-size: 5rem;
}

.triforce-geral p{
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Inter';
}

.partes-triforce{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.parte-triforce{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 0.5rem;
    border: 7px solid rgba(196, 151, 28, 1);
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin-bottom: 1rem;
    width: 25rem;
}

.parte-triforce img{
    width: 15rem;
    object-fit: contain;
}

.parte-triforce span{
    font-family: 'Alegreya SC';
    font-size: 2.5rem;
}

.parte-triforce p{
    font-family: 'Inter';
    font-size: 1.5rem;
}

.templo_imagem{
    width: 90%;
    object-fit: contain;
    margin-bottom: 3rem;
}

footer{
    display: flex;
}

footer img{
    width: 20%;
    height: 10rem;
}
.container-footer{
    background-color: rgba(158, 123, 65, 1);
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-footer p{
    font-size: 1.5rem;
    font-family: 'Inter';
    margin-bottom: 1rem;
}

.container-footer ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.container-footer ul li{
    font-size: 1.2rem;
    font-family: 'Inter';
    display: flex;
    align-items: center;
}

.container-footer ul img{
    width: 2rem;
    height: 2rem;
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
    header{
        flex-direction: column;
    }
 
    header ul {
        flex-direction: column;
        align-items: center;
    }


    header li {
        margin-top: 0.5rem;
        width: 80%;
    }

    .logo img {
        width: 6rem;
        height: auto;
    }

    nav {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .introducao h1 {
        font-size: 4rem;
    }

    .introducao p {
        font-size: 1.2rem;
    }

    .introducao{
        height: 10rem;
    }

    .container-footer p{
        font-size: 1rem;
    }

    .container-footer ul li{
        font-size: 0.8rem;
    }

    footer img{
        height: 7rem;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 12px;
    }

    header{
        flex-direction: column;
    }
 
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin-top: 0.5rem;
        width: 80%;
    }

    .logo img {
        width: 5rem;
        height: auto;
    }

    nav {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .introducao h1 {
        font-size: 3rem;
    }

    .introducao p {
        font-size: 1rem;
    }

    .introducao{
        height: 8rem;
    }

    footer img{
        height: 6rem;
    }
}


